In [ ]:
import pandas as pd
data = pd.read_csv('taxi.csv')
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [ ]:
x = data.drop('Numberofweeklyriders',axis =1)
y = data['Numberofweeklyriders']
y.head()

0    192000
1    190400
2    191200
3    177600
4    176800
Name: Numberofweeklyriders, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, ytest = train_test_split(x,y,test_size=0.30)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
print("the model score for trained adta",model.score(x_train,y_train))

the model score for trained adta 0.9215606304544912

In [ ]:
import pickle
pickle.dump(model,open('Uber_dataanalysis_Linearregression.pkl','wb'))

In [ ]:
model1 = pickle.load(open('Uber_dataanalysis_Linearregression.pkl','rb'))
print(model1.predict([[40,1695000,11600,100]]))

[165428.53823167]

c:\dev\MachineLearning\venvml\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(