In [5]:
import pandas as pd
data = pd.read_csv('taxi.csv')
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [8]:
x= data.drop('Numberofweeklyriders',axis=1)
y= data['Numberofweeklyriders']

In [18]:
from sklearn.model_selection import train_test_split
x_tain,x_test,y_train,y_test = train_test_split(x,y,test_size=0.10)

In [19]:
from sklearn.linear_model   import LinearRegression
model = LinearRegression()
model.fit(x_tain,y_train)
print('the model score of trained  data',model.score(x_tain,y_train))

the model score of trained  data 0.9389103335686182

In [23]:
import pickle
pickle.dump(model,open("ML_Linearregression.pkl",'wb'))

In [25]:
model1 = pickle.load(open('ML_Linearregression.pkl','rb'))
model1.predict([[65,1640000,12650,105]])

c:\dev\MachineLearning\venvml\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([146615.90199895])