In [1]:
import pandas as pd
data = pd.read_csv('taxi.csv')
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [2]:
x= data.drop('Numberofweeklyriders',axis=1)
y= data['Numberofweeklyriders']

In [3]:
from sklearn.model_selection import train_test_split
x_tain,x_test,y_train,y_test = train_test_split(x,y,test_size=0.10)

In [5]:
from xgboost import XGBRegressor
model = XGBRegressor(
n_estimators = 200,
learning_rate=0.05,
max_depth=5,
random_state=42
)
model.fit(x_tain,y_train)
print('the model score of trained  data',model.score(x_tain,y_train))

the model score of trained  data 0.999986469745636

In [6]:
import pickle
pickle.dump(model,open("ML_xgboost.pkl",'wb'))

In [8]:
model1 = pickle.load(open('ML_xgboost.pkl','rb'))
print('The predicted model score with xgboost',model1.predict([[65,1640000,12650,105]]))

The predicted model score with xgboost [148934.77]